.block-generate {
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.block-form {
  display: flex;
}

.block-code {
  margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
}
